<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	${SEO}
	${js}
	${style}
	<link rel="icon" href="${icon}">
	<link rel="alternate" type="application/atom+xml" title="${siteTitle} - Atom ${feed}" href="${feedFile}">
	<link rel="author" href="${aboutLink}">
	<link rel="alternate" type="application/xml" href="${sitemapLink}">
	${pagination}
	${license}

	<script>
		(() => {
			const hue = localStorage.getItem("Hue")
			if (hue != null) {
				document.documentElement.style.setProperty("--hue",hue);
			}

			let scheme = localStorage.getItem("Scheme");
			if (scheme == null){
				scheme = "system";
				localStorage.setItem("Scheme","system");
			}

			switch(scheme) {
				case "light":
					document.documentElement.setAttribute("data-theme", "light");
					break;
				case "dark":
					document.documentElement.setAttribute("data-theme", "dark");
					break;
				case "system":
					document.documentElement.setAttribute("data-theme", "system");
					break;
			}
		})()
	</script>
</head>
