.metadata-icon {
	border-radius: 0.375rem;
	width: 2rem;
	height: 2rem;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--btn-regular-bg);
	margin-right: 0.25rem;
}
