<button id="nav-menu-switch" aria-label="Menu" onclick="mobileSwitch()">
	<svg viewBox="0 0 24 24" fill="currentColor">
		<path d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"/>
	</svg>
</button>
<div id="navbar-mobile-menu-wrapper">
	<div id="navbar-mobile-menu">
		<a href="/${lang}/">${home}</a>
		<a href="/${lang}/archive/">${archive}</a>
		<a href="/${lang}/about/">${about}</a>
	</div>
</div>

<script>
	function mobileSwitch() {
		const menu = document.getElementById("navbar-mobile-menu-wrapper");
		if (menu.classList.contains("hidden")) {
			menu.classList.remove("hidden");
			menu.style.display = "block";
		}
		else {
			menu.classList.add("hidden");
			menu.style.display = "none";
		}
	}
</script>
