#sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 100%;
	margin-bottom: var(--space-md);
	order: 1;
}

#sidebar-profile {
	background-color: var(--card-bg);
	padding: var(--space-sm);
	border-radius: var(--radius-large);
	box-shadow: var(--shadow);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#sidebar-profile > a {
    display: block;
    position: relative;
	align-items: center;
	justify-content: center;
	margin-top: 0.25rem;
    margin-bottom: var(--space-sm);
    max-width: 12rem;
    overflow: hidden;
    border-radius: var(--radius-large);
    aspect-ratio: 1;
	user-select: none;
}

#sidebar-profile a:hover #sidebar-profile-background {
	opacity: 1;
}

#sidebar-profile-background {
	display: flex;
	align-items: center;
	justify-content: center;
    position: absolute;
	top: -1rem;
	left: -1rem;
    opacity: 0;
    z-index: 1;
	width: 115%;
	height: 115%;
	box-sizing: border-box;
    transform: scale(0.9);
	background-color: rgba(0, 0, 0, 0.3);
    transition: opacity var(--transition-fast);
}

#sidebar-profile-background svg {
    color: var(--primary);
    font-size: 5rem;
}

#sidebar-profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#sidebar-profile-info {
    padding: 0 var(--space-sm);
}

.profile-divider {
    width: 1.25rem;
    height: 0.25rem;
    background-color: var(--primary);
    border-radius: 9999px;
    margin: 0 auto var(--space-sm);
}

#sidebar-profile-name {
    font-weight: 700;
    font-size: var(--text-xl);
    text-align: center;
    margin-bottom: var(--space-sm);
    color: var(--text-90);
}

#sidebar-profile-bio {
    text-align: center;
    color: var(--text-50);
    margin-bottom: var(--space-sm);
    font-size: var(--text-sm);
}

/* Social */

#sidebar-profile-socials {
    display: flex;
    gap: var(--space-sm);
    justify-content: center;
	align-items: center;
}

#sidebar-profile-socials a {
    display: flex;
    justify-content: center;
	align-items: center;
	height: 2rem;
	width: 2rem;
	box-sizing: border-box;
	border-radius: var(--radius);
	background-color: var(--btn-plain-bg-hover);
	color: var(--btn-content);
}

/* Widget */
.sidebar-widget {
    background-color: var(--card-bg);
    padding-bottom: var(--space-md);
    border-radius: var(--radius-large);
    box-shadow: var(--shadow);
}

.widget-title {
    font-weight: 700;
    font-size: var(--text-lg);
    position: relative;
    margin-left: 2rem;
    margin-top: var(--space-md);
    margin-bottom: var(--space-sm);
    color: var(--text-90);
	user-select: none;
}

.widget-title::before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 0.1rem;
    width: 0.25rem;
    height: 1rem;
    border-radius: var(--radius-small);
    background-color: var(--primary);
}

.widget-content {
    padding: 0 var(--space-md);
    overflow: hidden;
}

.widget-content a {
	text-decoration: none;
}

.category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    border-radius: var(--radius);
    color: var(--text-90);
	box-sizing: border-box;
}

.category-item:hover {
    background-color: var(--btn-plain-bg-hover);
    padding-left: 0.75rem;
    color: var(--primary);
}

.category-item:hover .category-count {
    background-color: var(--primary);
    color: var(--deep-text);
}

.category-name {
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.category-count {
    padding: 0 var(--space-sm);
    height: 1.75rem;
    min-width: 2rem;
    border-radius: var(--radius);
    font-size: var(--text-sm);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-regular-bg);
    color: var(--btn-content);
}

.tags-cloud {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
}

.tag {
    display: inline-flex;
    align-items: center;
    height: 2rem;
    padding: 0 0.75rem;
    border-radius: var(--radius);
    background-color: var(--btn-regular-bg);
    font-size: var(--text-sm);
    font-weight: 600;
    color: var(--btn-content);
}

.tag:hover {
    background-color: var(--primary);
	color: var(--deep-text);
}

@media (min-width: 1024px) {
    #sidebar-profile a {
        margin: 0.25rem 0 var(--space-sm);
        max-width: none;
    }
}
