<!DOCTYPE html>
<html>
	<head>
		${sitemap}
		<script>
			const supportLanguage = ${supportLanguage};
			let language = localStorage.getItem("Language");
			let url;
			if (language != null) {
				if (language == "system") {
					language = navigator.language.substring(0,2);
				}
			}
			else {
				localStorage.setItem("Language","system");
				language = navigator.language.substring(0,2);
			}
			if (supportLanguage.indexOf(language) == -1) {
				url = window.location.href + ${defaultLanguage};
			}
			else {
				url = window.location.href + language;
			}
			window.location.replace(url);
		</script>
	</head>
</html>
